<div class="container_16">
    <div class="grid_12">
        <line-chart data='lineChartData' dirty-flag='lineChartDataDirtyFlag'
            time-window='timeWindow'>
        </line-chart>
    </div>
    <div class="grid_4">
        <div class="grid_4"><gauge-chart data='grillGaugeData'></gauge-chart></div>
        <div class="grid_4"><gauge-chart data='meatGaugeData'></gauge-chart></div>
    </div>
    <div class="grid_12">
        <div class="grid_11 prefix_1 control_group">
            <span class="grid_3">Vent:</span>
            <span class="grid_7">
                <span ng-class="{dimmed: !ventControl.manual}">Closed</span>
                <input id="vent_slider" type="range" min="0" max="100" 
                    ng-model="ventState.value" ng-change="handleVentChange()"
                    ng-click="handleVentSliderClicked()"
                    ng-model-options="{debounce: 1000}"
                    ng-disabled="!ventControl.manual"></input>
                <span ng-class="{dimmed: !ventControl.manual}">Open</span>
            </span>
        </div>
        <div class="grid_11 prefix_1 control_group">
            <span class="grid_3">Manual vent control:</span>
            <span class="grid_7">
                <input type="checkbox" ng-model="ventControl.manual" ng-change="controllerParametersChanged()"/>
                <span> Enabled</span>
            </span>
        </div>
        <div class="grid_10 prefix_1 control_group">        
            <span class="grid_3">Time window:</span>
            <select class="grid_2" ng-model="timeWindow">
                <option value="0">All</option>
                <option value="60">1 h</option>
                <option value="30">30 min</option>
                <option value="5">5 min</option>
            </select>
        </div>
        <div class="grid_10 prefix_1 control_group">        
            <span class="grid_3">Cooking Session:</span>
            <button class="grid_2" ng-click='clear()'>Clear</button>
            <button class="grid_2" ng-click='running.value=!running.value'>
                <span ng-if='running.value'>Stop</span>
                <span ng-if='!running.value'>Start</span>
            </button>
        </div>
    </div>
    <div class="grid_4">
        <div class="grid_4 control_group">Target temperatures</div>
        <div class="grid_4 control_row">
            <span class="grid_1">Grill</span>
            <input class="temperature_input" type="number"
                ng-model="ventControl.grillTargetTemperature" 
                ng-model-options="{debounce: 1000}"
                ng-change="controllerParametersChanged()"
                min="100" max="180"/>
            <span>&deg; C</span>
        </div>
        <div class="grid_4 control_row">
            <span class="grid_1">Meat:</span>
            <input class="temperature_input" type="number" 
                ng-model="ventControl.meatTargetTemperature" 
                ng-model-options="{debounce: 1000}"
                ng-change="controllerParametersChanged()"
                min="50" max="99"/>
            <span>&deg; C</span>
        </div>
        <div class="grid_4 control_row">Grill alarm boundary</div>
        <span class="grid_4">
            <span class="grid_1" style="text-align: right;">&plusmn</span>
            <input class="temperature_input" type="number" 
                ng-model="grillTemperatureAlarmLimit" 
                ng-model-options="{debounce: 1000}"
                min="1" max="25"/>
            <span>&deg; C</span>
        </div>
        <div class="grid_4 control_row">
            <div class="grid_4">Alarms</div>
            <div class="grid_4">
                <div class="grid_4">
                    <span class="control_button">
                        <input type="checkbox" ng-model="alarmControl.grill" ng-change="alarmStateChanged()"/>
                        <span> Grill</span>
                    </span>
                    <span>
                        <input type="checkbox" ng-model="alarmControl.meat" ng-change="alarmStateChanged()"/>
                        <span> Meat</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

