/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.control_button {
    margin-right: 15px;
}

.control_group {
    margin-top: 20px;
}

.control_row {
    margin-top: 3px;
}

#vent_slider {
    width: 240px;
}

.temperature_input {
    margin-left: 20px;
    width: 60px;   
    text-align: right;
}

.dimmed {
    color: gray;
}
